:root {
	--primary: #1DB954;
	--secondary: #222326;
	--third: #fff;
	--fourth: #000;
	--btn-dimensions: 15rem;
	--image-dimensions: calc(var(--btn-dimensions) * 1.05);
	--character-height: 30rem;
	--character-width: 7.5rem;
	--character-head-dimensions: 5rem;
	--character-body-height: 6rem;
	--character-body-width: 0.5rem;
	--character-limb-width: 0.5rem;
	--character-arm-length: 5rem;
	--character-leg-length: 5rem;
	--character-color: #fff;
}

* {
	box-sizing: border-box;
	line-height: 1.5;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Medium.woff2') format('woff2'),
        url('../assets/fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.woff2') format('woff2'),
        url('../assets/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Light.woff2') format('woff2'),
        url('../assets/fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Bold.woff2') format('woff2'),
        url('../assets/fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Black.woff2') format('woff2'),
        url('../assets/fonts/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
	background-color: var(--third);
	font-family: 'Poppins';
	margin: 0;
	color: var(--secondary);
}

h1 {
	font-size: 2.5em;
	font-family: 'Poppins';
	font-weight: 900;
}

h2 {
	font-size: 2em;
	font-family: 'Poppins';
	font-weight: bold;
}

h3 {
	font-size: 1.75em;
	font-family: 'Poppins';
	font-weight: 500;
}

h4 {
	font-size: 1.5em;
	font-family: 'Poppins';
	font-weight: 500;
}

h5 {
	font-size: 1.25em;
	font-family: 'Poppins';
	font-weight: 500;
}

p {
	font-family: 'Poppins';
	font-weight: normal;
}

p, a, input {
	font-size: 16px;
}

header {
	background-color: var(--fourth);
	margin: 0 0 2rem;
	padding: 1rem;
}

main div {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#root {
	margin: auto;
	max-width: 60rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 1rem;
}

header h3 {
	margin: 0;
	color: var(--primary);
	text-align: center;
}

article {
	width: var(--btn-dimensions);
	height: var(--btn-dimensions);
	position: relative;
	display: flex;
	color: var(--third);
	padding: 1rem;
	transition: all 0.3s ease;
	background-color: var(--secondary);
	margin: 0 1rem 1rem 0;
}

article img {
	width: var(--btn-dimensions);
	height: var(--btn-dimensions);
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	transition: all 0.3s ease;
	pointer-events: none;
	backface-visibility: hidden;
	max-width: 100%;
	max-height: 100%;
	object-position: center center;
	z-index: 1;
	box-shadow: 8px 8px 8px rgba(0,0,0,0.3);
	transition: all 0.3s ease;
}

article h3 {
	margin: 0;
	position: relative;
	z-index: 3;
	text-align: left;	
	align-self: flex-end;
}

.playlist {
	margin: 0;
	padding: 0;
	border: none;
	position: relative;
	
	text-decoration: none;
}

.playlist article:hover {
	transform: scale(1.05);
}

.playlist article::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: var(--btn-dimensions);
	width: var(--btn-dimensions);
	background: linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0.6));
	z-index: 2;
}

h1 span {
	font-size: 1.2rem;
}


.btn {
	font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 18px 48px 18px;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
	background-color: var(--primary);
	text-decoration: none;
	color: var(--third);
	font-weight: 700;
	display: inline-block;
	text-align: center;
	margin: 2rem auto 2rem auto;
}

.loading {
	display:flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.loading > * {
	height: 100%;
}

.loading-animation {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	max-width: 25rem;
}

.loading-animation h1,
.loading-animation h2 {
	margin: 0;
}

.score {
	display:flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin-top: 2rem;
}

.score h1 {
	width: 150px;
	height: 150px;
	color: var(--third);
	background-color: var(--secondary);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading-music {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	position: relative;
	width: 68px;
	height: 48px;
}

.loading-music::after {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: var(--primary);
	content: '';
}

.loading-music div {
	display: inline-flex;
	width: 10px;
	height: 100%;
	background: var(--primary);
	animation: loading-music 1.2s linear infinite;
	transform-origin: bottom;
}

.loading-music div:nth-child(1) {
	animation-delay: -0.8s;
}

.loading-music div:nth-child(2) {
	animation-delay: -0.6s;
}

.loading-music div:nth-child(3) {
	animation-delay: -0.4s;
}

.loading-music div:nth-child(4) {
	animation-delay: 0;
}

@keyframes loading-music {
	0% {
		transform: scaleY(1);
	}
	37.5% {
		transform: scaleY(0.25);
	}
	62.5% {
		transform: scaleY(0.75);
	}
	75% {
		transform: scaleY(0.5);
	}
	100% {
		transform: scaleY(1);
	}
}
 
@media screen and (min-width: 50rem ) {
	main .playlist:nth-child(3n) article{
		margin-right: 0;
	}
	
	main .playlist:nth-child(3n+1):last-child article{
		margin-right: 0;
	}
	
	main .playlist:nth-child(3n+2):last-child article,
	main .playlist:nth-child(3n+2):last-child article{
		margin-right: 0;
	}

	.loading {
		flex-direction: row;
		text-align: center;
	}

	.btn {
		margin: 2rem auto 0 auto;
	}
	.loading-animation {
		margin-left: 2rem;
	}
}