<head>
	<title>Danceable?</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="An app where you can measure the danceability of your spotify playlists.">
	<link rel="manifest" href="/manifest.json">
	<link rel="preload" href="/dist/css/styles.css" as="style">
	<link rel="preload" href="/dist/js/client.js" as="script">
	<link rel="stylesheet" href="/dist/css/styles.css">
	<script defer src="/dist/js/client.js"></script>
</head>