<head>
	<title>Danceable?</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="manifest" href="/manifest.json">
	<link rel="preload" href="/css/styles.css" as="style">
	<link rel="preload" href="/js/client.js" as="script">
	<script defer src="/js/client.js"></script>
</head>