<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>

<body>
	<%- include('partials/header.ejs') %>
	<div id="root">
		<main>
			<h1>Welcome to danceable!</h1>
			<p>
				The web application where you can measure the danceability of your spotify playlist! To make use of this app, you will have to login with spotify through the button down below. 
			</p>
			<a class="btn" href="/login" id="login">login with spotify</a>
		</main>
	</div>
</body>
<%- include('partials/script.ejs') %>
</html>